#loader {
    color: #008cff;
    height: 40px;
    left: 45%;
    position: absolute;
    top: 45%;
    width: 30%;
}

#treeparent {
    display: block;
    max-width: 350px;
    max-height: 350px;
    margin: auto;
    overflow: auto;
    border: 1px solid #dddddd;
    border-radius: 3px;
}

.custom .e-list-item .e-fullrow {
    height: 60px;
}
.custom .e-list-item .e-list-text {
    line-height: normal;
}
.eimage {
    float: left;
    padding: 11px 16px 11px 0;
    height: 30px;
}
.ename {
    font-size: 16px;
    padding: 14px 0 0;
}
.ejob {
    font-size: 14px;
    opacity: .87;
}

#treeview {
    max-width: 500px;
    margin: auto;
    border: 1px solid #dddddd;
    border-radius: 3px;
}
#treeview.e-treeview .e-list-img {
    width: 25px;
    height: 25px;
}
#treeview.e-treeview .e-list-icon {
    background-repeat: no-repeat;
    background-image: url(https://ej2.syncfusion.com/react/demos/src/images/icons/file_icons.png);
    height: 20px;
}
#treeview.e-treeview .e-list-icon.folder { background-position: -10px -552px }
#treeview.e-treeview .e-list-icon.docx { background-position: -10px -20px }
#treeview.e-treeview .e-list-icon.ppt { background-position: -10px -48px }
#treeview.e-treeview .e-list-icon.pdf { background-position: -10px -104px }
#treeview.e-treeview .e-list-icon.images { background-position: -10px -132px }
#treeview.e-treeview .e-list-icon.zip { background-position: -10px -188px }
#treeview.e-treeview .e-list-icon.audio { background-position: -10px -244px }
#treeview.e-treeview .e-list-icon.video { background-position: -10px -272px }
#treeview.e-treeview .e-list-icon.exe { background-position: -10px -412px }